{% extends "base.html" %}
{% load account %}

{% block title %}Сброс пароля{% endblock title %}

{% block content %}

<h1>Смена пароля</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>Забыли ваш пароль? Введите свой e-mail, и мы вышлем на него ссылку для сброса пароля.</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Сбросить пароль"/>
</form>

<p>Пожалуйста напишите нам, если у вас возникли проблемы с изменением пароля</p>
{% endblock %}
